<head>
  <title>Definition</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
</head>
<body class="container">
<h1> <%= @word.word %> </h1>
<ul>
  <li> <%= @definition.definition %> <form action="/word/<%= @word.word_id %>/remove_definition/<%= @definition.definition_id %>" method="post">
  <button type="submit" name="button">Remove</button>
  </form> </li>
</ul>
<form action="/word/<%= @word.word_id %>/update_definition/<%= @definition.definition_id %>" method="post">
  <textarea name="new_definition" rows="8" cols="80"><%= @definition.definition %></textarea>
  <button type="submit" name="button">Update Definition</button>
</form>
<form class="" action="/" method="get">
  <button type="submit" name="button">cancel</button>
</form>
</body>
