<head>
  <title> <%= @word.word %> </title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
</head>
<body class="container">
<h1> <%= @word.word %> </h1>
<div>
  <ol>
    <% @definitions.each do |definition| %>
      <li> <%= definition.definition %> <form action="/word/<%= @word.word_id %>/update_definition/<%= definition.definition_id %>" method="get">
        <button type="submit" name="button">Edit</button>
      </form></li>
    <% end %>
  </ol>
</div>
<form action="/word/<%= @word.word_id %>/define" method="post">
  <textarea name="new_definition" rows="8" cols="80"></textarea>
  <button type="submit" name="button">Add Definition</button>
</form>
<a href="/">Return to Home Page</a>
</body>
